
@{
    ViewBag.Title = "SearchError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container {
        margin-top: 70px;
    }

    .alert {
        font-size: 15px;
        font-weight: bold;
    }
</style>
<div class="container col-md-11">
    <div class="alert alert-danger">
        Sorry, no results were found. Please try again.
    </div>
    @Html.ActionLink("Search Again", "Index", "Rooms")

</div>